{% extends "layout.html" %}

{% block body %}
<section id="projects">
    <div class="container">
        <h2 class="text-center section-title">Projects</h2>
        <div class="row">
            <div class="col-md-5 text-center card-holder mx-auto">
                <div class="card mx-auto image-container" style="width: 18rem;">
                    <a href=""><img src="../static/images/soon.png" class="card-img-top" alt="..."></a>
                    <div class="card-body overlay">
                      <h5 class="card-title">title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis pariatur perferendis minus consectetur veniam excepturi.</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-5 text-center card-holder mx-auto">
                <div class="card mx-auto image-container" style="width: 18rem;">
                    <a href=""><img src="../static/images/soon.png" class="card-img-top" alt="..."></a>
                    <div class="card-body overlay">
                      <h5 class="card-title">title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis pariatur perferendis minus consectetur veniam excepturi.</p>
                    </div>
                  </div>
            </div>


            <div class="col-md-5 text-center card-holder mx-auto">
                <div class="card mx-auto image-container" style="width: 18rem;">
                    <a href=""><img src="../static/images/soon.png" class="card-img-top" alt="..."></a>
                    <div class="card-body overlay">
                      <h5 class="card-title">title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis pariatur perferendis minus consectetur veniam excepturi.</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-5 text-center card-holder mx-auto">
                <div class="card mx-auto image-container" style="width: 18rem;">
                    <a href=""><img src="../static/images/soon.png" class="card-img-top" alt="..."></a>
                    <div class="card-body overlay">
                      <h5 class="card-title">title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis pariatur perferendis minus consectetur veniam excepturi.</p>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}